.vc-userplugininstaller-subheader {
  font-weight: 500;
  font-size: 1.2rem;
}

.vc-userplugininstaller-body {
  text-align: left;
}

.vc-userplugininstaller-title {
  text-align: left;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
}

.vc-userplugininstaller-close {
  margin-left: auto;
}

.vc-userplugininstaller-card {
  padding: 10px;
  margin: 10px 0;
}

.vc-userplugininstaller-lead-card {
  background-color: var(--bg-mod-strong) !important;
  border: 1px solid var(--bg-brand);
}

.vc-userplugininstaller-name {
  font-size: 1.15rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.vc-userplugininstaller-warning-card {
  background: var(--info-warning-background);
  border: 1px solid var(--info-warning-foreground);
  color: var(--info-warning-text);
}

.vc-userplugininstaller-row {
  display: flex;
  margin-top: 12px;
}

.vc-userplugininstaller-row * {
  flex: 1;
  margin: 0 10px;
}
